header h1 {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 60px;
}
header h1::first-letter {
    font-size: larger;
}
#price1, #price2 {
    text-align: center;
    font-family: 'Staatliches', cursive;
}
#convert-btn::first-letter {
    font-size: larger;
    font-family: 'Staatliches', cursive;
}
#convert-btn {
    font-family: 'Staatliches', cursive;
    text-align: center;
    width: 8%;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
    margin-left: 590px;
}
#stats {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: larger;
}

#convert-btn:hover {
    cursor: pointer;
}

#ascend-graph {
    border-radius: 4px;
    font-size: larger;
    margin-left: 510px;
    font-family: 'Staatliches', cursive;
}

#descend-graph {
    border-radius: 4px;
    font-size: larger;
    font-family: 'Staatliches', cursive;
}

#undo-graph {
    border-radius: 4px;
    font-size: larger;
    font-family: 'Staatliches', cursive;
}

#clear-graph {
    border-radius: 4px;
    font-size: larger;
    font-family: 'Staatliches', cursive;
}